<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--Navbar Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

  <title>Satellite Exploration</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class= "navbar-brand" href="/">Satellites</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           
         </li>
         <li class="nav-item">
           
         </li>
         <li class="nav-item dropdown">
           
         </li>
         <li class="nav-item">
           
         </li>
       </ul>
    
       <ul class="navbar-nav nav justify-content-end">
         <li class="nav-item">
            <a class= "nav-link" href="/indexplots">90 Degree Radius </a> 
        
         </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Earth Resource Satellites
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class= "dropdown-item" href= "/minimapindex">Current Orbit </a>
              <a class= "dropdown-item" href="/satGlobe">Current Orbit Globe</a>
              <a class= "dropdown-item" href="/cluster">Launch Sites</a>
          </div>
      </li>           
       </ul>
     </div>
   </nav>  
    <!-- Content -->
<hr>
    <h2 ALIGN=Center >
      <b>
  Launch sites for Earth Resource Satellites
</b>
</h2>
<br>
<aside><h4>Description:</h4>
    <p>
  Currently there are just under 150 Earth Resource satellites in orbit. Although many think that the satellites are launched in the country that is sourcing the satellite, it is not always the case.
  Here you will find a cluster map that you can click on. You will see what satellites were launched and the country it is sourced by.
  Many countries share space centers to assist in the launches into orbit. 
</p>
</aside>

  <div id="map"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <!-- d3 JS -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

 <!-- API key -->
 <script type="text/javascript" src="/static/config.js"></script>  
 <!-- Our JavaScript -->
  <script type="text/javascript" src="/static/js/cluster.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
</body>
</html>

