<!DOCTYPE html>
<html>
  <head>
    <title>Simple Markers</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!--
    <script
      src="https://maps.googleapis.com/maps/api/js?key="+G_KEY+"&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
-->
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key="+G_KEY+"&libraries=drawing&callback=initMap">
</script>


    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
        //[-115.814, 32.7488333];
      function initMap() {
        const myLatLng = { lat: 32.7488333, lng: -115.814 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 3,
          center: myLatLng,
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: "This is Marker to Initialize",
        });

        var responsedata = '{{ responsedata | tojson | safe }}';
    var geocode = JSON.parse(responsedata);
    var indata = {};

    for (var i=1; i<geocode['respdata'].length; i++) {
        indata = {};
        indata['lat'] = geocode['respdata'][i]['latitude'];
        indata['lng'] = geocode['respdata'][i]['longitude'];
        const infotext = "<h5> satName:"+geocode['respdata'][i]['satname']+"</h5>"+
                    "<h5> satId:  "+geocode['respdata'][i]['satid']+"</h5>"+
                    "<h5> latitude:  "+geocode['respdata'][i]['latitude']+"</h5>"+
                    "<h5> longitude:  "+geocode['respdata'][i]['longitude']+"</h5>"+
                    "<h5> altitude:  "+geocode['respdata'][i]['altitude']+"</h5>"+
                    "<h5> elevation: "+geocode['respdata'][i]['elevation']+"</h5>"+
                    "<h5> azimuth:  "+geocode['respdata'][i]['azimuth']+"</h5>"+
                    "<h5> datetime:  "+geocode['respdata'][i]['datetime'];
    const marker = new google.maps.Marker({
      position: indata,
      map,
      title: geocode['respdata'][i]['satname']
    });
    const infowindow = new google.maps.InfoWindow({
          content: infotext
        });
    marker.addListener("click", () => {
          infowindow.open(map, marker);
        });
    }
      
      }
    
    </script>

  </head>
  <body>
    <div id="map"></div>

  </body>
</html>